header{
    height: 150vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* CTA */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Socials */
.header__socials {
    display: flex;
    flex-direction: row;
    align-items: absolute;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* Image */

.my_image {
    background: linear-gradient(var(--color-primary),transparent);
    width:  22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 15rem 15rem 0 0;
    overflow: hidden;
    padding: 10rem 1.5rem 1.5rem 1.5rem;
    display: inline-block;
}

/* Scroll down */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* MEDIA QUERIES (MEDIM DEVICES) */

/* How the screen will sie out if seen on a phone */
@media screen and (max-width: 600px) {
    header {
        height: 200vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}